.gallery {
    margin: 0 auto;
    padding: 15px;
    gap: 15px;
    max-width: 360px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
    list-style-type: none;
    overflow: hidden;
    padding: 0;
    color: #0c4e03;
}
@media (min-width: 768px) {
    .gallery {
        max-width: 768px;
    }
}
@media (min-width: 1280px) {
    .gallery {
        max-width: 1280px;
        padding: 15px 0;
    }
}
.galleryItem {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    border: 3px solid #FFCC99;
    border-radius: 15px;
    background-color:#D8BFD8;
}